.monaco-editor__container {
  flex: 1;
  position: relative;
  background: var(--dark-theme-black-color);
}

.monaco-editor-editor {
  flex: 1;
  height: 100%;
}

.monaco-editor-run-button-icon {
  color: var(--white-color);
  font-size: 20px;
  margin-left: 2px;
}

.monaco-editor__code-comment {
  height: 100px;
  width: 500px;
}

.monaco-editor__code-comment-icon {
  position: absolute;
  background-color: var(--white-color);
  cursor: pointer;

  border-radius: 50%;
  box-shadow: "0px 4px 4px rgba(0, 0, 0, 0.25)";
}

.highlight-remain {
  background-color: #8adaf7;
  color: black !important;
}

.highlight-main {
  background-color: #074e68;
  color: #fff !important;
}

.monaco-editor__inline-comment {
  background-color: #fff;
  border-radius: 5px;
  text-align: left;
  padding: 0 10px;
  width: 100%;
  min-height: 50px;
  z-index: 99999;
}
.monaco-editor__inline-comment > input {
  width: 100%;
  height: 50px;
  outline: transparent;
  font-size: 14px;
  border: none;
}
.monaco-editor__inline-comment.hide {
  display: none;
}
.monaco-editor__inline-comment.show {
  display: block;
}
.monaco-editor__inline-comment > div {
  margin-right: 4px;
}

.monaco-editor__inline-comment.left:before,
.monaco-editor__inline-comment.left:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-left: 0;
}
.monaco-editor__inline-comment.left:before {
  bottom: 25%;
  left: -12px;
  /* If 1px darken stroke slightly */
  border-right-color: white;
  border-width: 12px;
}
.monaco-editor__inline-comment.left:after {
  bottom: 25%;
  left: -11px;
  border-right-color: #fff;
  border-width: 12px;
}
