.monaco-editor__container {
  flex: 1;
  position: relative;
  background: var(--dark-theme-black-color);
}

.monaco-editor-editor {
  flex: 1;
  height: 100%;
}

.monaco-editor-run-button-icon {
  color: var(--white-color);
  font-size: 20px;
  margin-left: 2px;
}

.monaco-editor__code-comment {
  background-color: green;
  height: 100px;
  width: 500px;
}

.INSERT {
  background-color: red;
}

.UPDATE {
  background-color: yellow;
}

.UPDATE:hover {
  padding: 3px;
}

.INSERT:hover {
  padding: 3px;
}
