:root {
    --white-color: #fff;
    --black-color: #000;
    --deep-blue-color: rgb(28, 32, 34);
    --theme-blue-color: #0076c6;
    --dark-theme-light-border-color: rgba(255, 255, 255, 0.07);
    --dark-theme-dark-border-color: rgba(255, 255, 255, 0.4);
    --dark-theme-menubar-icon-color: rgba(255, 255, 255, 0.4);
    --dark-theme-black-color: #1e1e1e;
    --warning-light-color: rgb(247, 168, 41);
    --warning-dark-color: #715f1a;
    --error-light-color: rgb(214, 118, 116);
    --error-dark-color: #310e0e;
}