.menubar {
  width: 56px;
  height: 100vh;
  background-color: rgb(28, 32, 34);
  color: #fff;
  text-align: center;
  align-items: center;
}

.menubar__title,
.menubar__icon {
  text-align: center;
}

.menubar__title {
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 0 0 2pt #fff;
  height: 40px;
  width: 40px;
}

.menubar__title-text {
  background-color: #0076c6;
  border-radius: 5px;
  width: 36px;
  height: 36px;
}

.menubar__title {
  font-size: 18px;
  color: #fff;
}

.menubar__icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.menubar__icon:hover {
  color: #fff;
}
