.comments {
  height: 50vh;
  background-color: var(--deep-blue-color);
  position: relative;
  border-top: 1px solid var(--dark-theme-light-border-color);
}

.comments__body {
  overflow: scroll;
  padding-bottom: 68px;
}

.comment {
  background-color: inherit;
  transition: all 0.3s;
}

.comment__user-image {
  height: 35px;
  width: 35px;
  border-radius: 5px;
}

.comment__username,
.reply__username {
  cursor: pointer;
  display: inline-block;
}

.comment__time {
  font-size: 12px;
}

.comment__user-comment {
  font-size: 13px;
}

.comment__num-of-reply {
  font-size: 12px;
  color: var(--theme-blue-color) !important;
  cursor: pointer;
}

.reply {
  border-left: 1px solid var(--white-color);
}

.reply__username,
.reply__user-reply {
  font-size: 12px;
}

.reply__user-image {
  height: 30px;
  width: 30px;
  border-radius: 3px;
}

.reply__time {
  font-size: 8px;
}

.comment__input {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(
    to top,
    rgba(28, 32, 34) 70%,
    rgba(28, 32, 34, 0.1) 100%
  );
}

.comment__input-field-container {
  height: 50px;
  box-sizing: border-box;
  border: 1px solid var(--dark-theme-dark-border-color);
  align-items: center;
  justify-content: space-between;
  background-color: var(--deep-blue-color);
  border-radius: 3px;
}

.comment__input-field {
  height: 100%;
  color: var(--white-color);
  width: 80%;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 14px;
}

.comment__input-send-icon {
  height: 18px;
  width: 18px;
  color: var(--theme-blue-color);
}

.comment__input-field:focus {
  outline: none;
}

.comment__not-live {
  color: var(--dark-theme-dark-border-color) !important;
}