.main {
  width: 100%;
}

.main--right {
  flex: 1;
  height: 100%;
  border-left: 1px solid var(--dark-theme-light-border-color);
  min-width: 50%;
  background-color: var(--dark-theme-black-color);
}
